footer{
   text-align: center;
    background-color: rgb(96, 117, 19);
    padding: 25px 50px 75px 100px;
    margin: 0px 20px;
}
containerContacto {
  display: flex;
  width: 80%; /* Ajusta el ancho según necesites */
  margin: 20px auto; /* Centra el contenedor en la página */
  border: 1px solid #ccc; /* Opcional: para visualizar el contenedor */
  padding: 20px;
}

.contacto {
  flex: 1; /* Ocupa el espacio disponible a la izquierda */
  padding-right: 20px; /* Espacio entre las secciones */
}

formularioContacto {
  flex: 1; /* Ocupa el espacio disponible a la derecha */
  padding-left: 20px; /* Espacio entre las secciones */
}

#containerTerminos {
  width: 80%; /* Ajusta el ancho según necesites */
  margin: 20px auto; /* Centra el contenedor en la página */
  padding: 10px;
  background-color: rgb(231, 248, 183);
}
#containerTerminos p{ 
  color:blue;
}
