/*Eliminamos los márgenes y paddings que agrega el navegador por defecto, en la actualidad hay que probar esta funcionalidad */
p{ margin: 0;
padding: 0;
}
.titulo{
background-color: #92a8d1; margin: 20px;
}
.parrafo{
background-color: rgb(13, 58, 13);
padding-top:50px;
padding-left: 10px;
padding-bottom: 60px;
padding-right: 300px;
}
footer{
   text-align: center;
    background-color: rgb(96, 117, 19);
    padding: 25px 50px 75px 100px;
    margin: 0px 20px;
}
containerContacto {
  display: flex;
  width: 80%; /* Ajusta el ancho según necesites */
  margin: 20px auto; /* Centra el contenedor en la página */
  border: 1px solid #ccc; /* Opcional: para visualizar el contenedor */
  padding: 20px;
}

.contacto {
  flex: 1; /* Ocupa el espacio disponible a la izquierda */
  padding-right: 20px; /* Espacio entre las secciones */
}

formularioContacto {
  flex: 1; /* Ocupa el espacio disponible a la derecha */
  padding-left: 20px; /* Espacio entre las secciones */
}
