.footer {
  text-align: center;
  background-color: rgb(252, 184, 83); /* Color personalizado */
  padding: 25px 50px 75px 100px; /* Espaciado amplio */
  margin: 0px 20px; /* Margen entre el footer y el contenido */
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 600px) {
  .footer {
    padding: 15px; /* Espaciado reducido en pantallas pequeñas */
    margin: 5px; /* Menor margen para adaptarse a pantallas más compactas */
  }
}

/* Ajuste para pantallas medianas (tablets) */
@media (min-width: 601px) and (max-width: 992px) {
  .footer {
    padding: 20px; /* Espaciado intermedio */
    margin: 10px; /* Margen ajustado */
  }
}

/* Ajuste para pantallas grandes (desktops) */
@media (min-width: 993px) {
  .footer {
    padding: 25px 50px 75px 100px; /* Restaurar espaciado amplio */
    margin: 0px 20px; /* Márgenes adecuados */
  }
}
