@import url("variables.css");

.carousel-promo{
    margin: 0;
    padding: 8px;
    background-color: var(--color-principal);

}
.carousel-promo h5{
    margin: 0;
    font-size: 20px;
}
.navbar{
    height: fit-content;
    margin-bottom: 25px;
    box-shadow: 0px 1px 10px 1px #9896968d;
}
.navbar-flex{
    display: flex;
}

.navbar-cuenta-carrito{
    width: auto;
    display: flex;
}
.navbar-busqueda{
    width:100%;
    margin: auto;

}
 .navbar-carrito, .navbar-cuenta-principal{
    margin: 10px;
}
.nav-link{
    font-size: 20px;
}

hr{
    margin: 0;
    background-color: var(--color-principal);
    height: 2px;
    border-color: var(--color-principal);
}
.btn-buscar{
    border-color:var(--color-principal);
    color: var(--color-principal);
}
.navbar-logo-img{
    height: 80px;
    width: 80px;
}
.btn:hover{
    background-color: var(--color-naranja) ;
}
.nav-link:hover{
    color: var(--color-naranja) ;
}
.nav-cerrarSesion{
    width: 200px;
    flex-grow: 0;
} 
.menu-categoria-item a, .menu-lista-perfil  a{
    text-decoration: none;
    color: var(--color-negro);
    font-size: 20px;
}

 /*.collapse:not(.show) {cambiando el estilo que tiene por defecto collapse
    display: block;
}*/


@media screen and (max-width: 992px)  {
    .navbar-cuenta-principal, hr{
        display: none;
    }
    .navbar-nav .nav-lista-cerrarSesion{
        display: block;
    }
    .carousel-promo h5{
        font-size: 18px;
    }
    .nav-lista-cerrarSesion{
        display: block;
    }
    
}
@media screen and  (min-width: 992px) {
    .navbar-menu{
        order: 5;
        width: 100%;
        justify-content: space-between;
    }
    .navbar-busqueda{
        width: 50%;
        order: 2;
    }
    .navbar-nav{
        justify-content: space-between;
    }
    .navbar-logo{
        order: 1;
    }
    .navbar-cuenta-carrito{
        order: 3;
    }
    .nav-cerrarSesion{
        order: 4;
    }
    hr{
        display: block;
        
    }
    .nav-item-mi-cuenta{
        display: none;
    }
    .nav-lista-cerrarSesion{
        display: none;
    }
   
}