#containerTerminos {
  width: 80%; /* Ajusta el ancho según necesites */
  margin: 20px auto; /* Centra el contenedor en la página */
  padding: 10px;
  text-align: center;
}
#containerTerminos h2 {
  margin-bottom: 25px; /* Agrega un espacio de 25 píxeles debajo del título */
}
#containerTerminos p {
  color: rgb(2, 2, 22);
}
#containerTerminos ul {
    text-align: left;
  }
.terminos-direcciones{
  font-size: 50%;
}
@media screen and (max-width: 992px) {
    #containerTerminos {
      width: 100%; /* Aprovechar todo el ancho disponible */
      margin: 10px auto; /* Reducir márgenes */
      padding: 5px; /* Ajustar el espacio para dispositivos más pequeños */
    }
    #containerTerminos p {
      font-size: 14px; /* Hacer el texto más pequeño para pantallas reducidas */
      text-align: center; /* Centrar el texto para mejor lectura */
    }
    #containerTerminos ul {
    text-align: left;
  }
}
@media screen and (min-width: 992px) {
    #containerTerminos {
      max-width: 1200px; /* Establecer un tamaño máximo para evitar demasiado espacio */
      padding: 20px; /* Aumentar el espacio para una presentación más cómoda */
    }
    #containerTerminos p {
      font-size: 18px; /* Texto más grande para pantallas grandes */
      text-align: left; /* Alineación a la izquierda para formato profesional */
      text-align: justify;
    }
    #containerTerminos ul {
    text-align: left;
  }
}
