<!DOCTYPE html>  
  <html>  
     <head> <meta name="viewport" content="width=device-width, initialscale=1,  shrink-to-fit=no">  <title>Ejemplo 1</title>  
             <link rel="stylesheet" href="assets/css/miestilo.css">
    </head>  
      <body> 
        <nav class="menu">
            <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Contacto</a></li>
            </ul></nav> 
        <h1>Bienvenidos a Taller de Programación I</h1> 
        <div style="color: rgb(177, 177, 212);">
          <p style="color:rgb(236, 165, 165)"> Somos una empresa que se dedica a la venta de relojes de mesa y pared con diseños únicos e innovadores. 
            Utilizamos materia prima de calidad. Elaboramos productos a la medida del cliente. 
          </p>  
          <p style="color:rgb(157, 235, 157)">Nuestro trabajo cuenta con garantia por un año</p>
        </div> 
      </body>  
      
  </html>  